localhost:80 {
    @forbidden {
        path /.htaccess
        path /.xml
        path /3rdparty/*
        path /README
        path /config/*
        path /console.php
        path /data/*
        path /db_structure
        path /lib/*
        path /occ
        path /templates/*
        path /tests/*
    }
    respond @forbidden 404

    header Strict-Transport-Security max-age=15552000
    file_server
    root * /var/www/html
    php_fastcgi app:9000 {
        root /var/www/html
    }
    redir /.well-known/carddav /remote.php/dav 301
    redir /.well-known/caldav /remote.php/dav 301

}
