services:

  database:
    image: postgres:alpine
    restart: always
    volumes:
      - ./volumes/database:/var/lib/postgresql/data
    env_file:
      - .env

  cache:
    image: redis:alpine
    restart: always

  app:
    build: config
    image: nextcloud:fpm-alpine
    restart: always
    volumes:
      - ${DATA_VOLUME}:/var/www/html/data
      - ${CONFIG_VOLUME}:/var/www/html/config
      - ${THEME_VOLUME}:/var/www/html/themes
      - ${APP_VOLUME}:/var/www/html/custom_apps
      - ${WEB_VOLUME}:/var/www/html
      - ./volumes/system:/var/run
      - ./config/php-fpm.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
      - ./config/php.ini:/usr/local/etc/php/conf.d/zz-docker.ini
    environment:
      - POSTGRES_HOST=database
      - REDIS_HOST=cache
    depends_on:
      - database
      - cache
    env_file:
      - .env

  proxy:
    image: caddy:alpine
    restart: always
    volumes:
      - ./volumes/caddy/data:/datav
      - ./volumes/caddy/config:/config
      - ./config/caddyfile:/etc/caddy/Caddyfile
      - ./volumes/system:/system
      - ${WEB_VOLUME}:/var/www/html
    ports:
      - ${SERVE_PORT}:80
    depends_on:
      - app

  scheduler:
    image: nextcloud:fpm-alpine
    restart: always
    volumes:
      - ${DATA_VOLUME}:/var/www/html/data
      - ${CONFIG_VOLUME}:/var/www/html/config
      - ${THEME_VOLUME}:/var/www/html/themes
      - ${APP_VOLUME}:/var/www/html/custom_apps
      - ${WEB_VOLUME}:/var/www/html
    entrypoint: /cron.sh
    depends_on:
      - database
      - cache
